*{
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}
h1, h2, p{
    text-align: left;
}
.red{
    color: red;
}


.flex-child{
    width: 20%;
    height: 70px;
    padding: 25px;
    margin: 1px;
    background-color: green;
    border-radius: 10px;
    
}

.flex{
    width: 600px;
    height: 500px;
    padding:1px;
    margin:20px auto;
    background-color: white;
    border:green 1px solid;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap:wrap;
}

.flex-start{
    
    align-content: flex-start;
}

.flex-center{
    
    align-content: center;
}

.flex-end{
    
    align-content: flex-end;
}

.even{
    
    align-content: space-evenly;
}

.around{
    
    align-content: space-around;
}

.between{
    
    align-content: space-between;
}

.col{
    flex-direction: column;
}