body{
    height: 3000px;
}
.div-hov{
    background-color: red;
    height: 100px;
    margin:10px;
    padding:20px;
    color:white;
}
.div-hov:hover{
    background-color: yellowgreen;
    border-radius: 20px;
    height: 150px;
    margin:10px;
    padding:20px;
    color:white;
}
.div-hov:active{
    background-color: black;
    border-radius: 20px;
    height: 350px;
    margin:10px;
    padding:20px;
    color:white;
}
.color-changer:checked + label{
    color:red;
}
.hide-check:checked{
    display: none;
}
.enter-name:focus{
    border-radius: 10px;
    border: solid 1px red;
    padding: 5px;
    outline-style: none;
    background-color: yellowgreen;
    width: 400px;
}
.para::first-letter{
    font-weight: 600px;
    color:white;
    background-color: red;
    font-size: 100px;
}
.bef{
    position:relative;
    margin: 20px;
}
.bef::before{
    content: "";
    position:absolute;
    top:0;
    left: -10px;
    height: 100%;
    width: 5px;
    background-color: green;
}
.counter-parrent{
    margin: 40px;
    
    
}
.counter-parrent div{
    position: relative;
    margin: 5px;
    border: solid 1px red;
    border-radius: 20px;
    counter-increment: members-counter;
}
.counter-parrent div::after{
    position:absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    top:0;
    left:-25px;
    border: none;
    background-color: red;
    border-radius: 50%;
    color:white;
    
    content: counter(members-counter);


}
.shad{
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 5px 20px 10px red;
    box-shadow: 0px 0px 10px 1px green, 0px 0px 10px 1px red inset;
    border: none;
    height: 100px;

}
